[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colorama = "*"
pyyaml = "*"
requests = "*"
tabulate = "*"
psutil = "*"
jinja2 = "*"
graphviz = "*"
setuptools = "*"
ollama = "*"
numpy = "*"
altered = {editable = true, path = "."}
pandas = "*"
beautifulsoup4 = "*"
playwright = "*"
openai = "*"
pywin32 = "*"
pynput = "*"
astor = "*"
libcst = "*"
pygetwindow = "*"

[dev-packages]
# logunittest = {editable = true, git = "https://github.com/lmielke/logunittest.git"}
black = "*"
pre-commit = "*"
toml = "*"
tox = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
git_sync = "lut ut -g"
ut = "python -m unittest discover -s ${appName}/test/test_ut"
it = "python -m unittest discover -s ${appName}/test/test_it -p 'it_*.py'"
